@import 'colors';

*{
    padding: 0;
    margin: 0;
    font-weight: 600;
    box-sizing: border-box; 
}

:root{
    font-synthesis: none;
    color: $text-primary;
    text-rendering: optimizeLegibility;
    background-color: $bg-color ;
}

.stick{
    width: 100%;
    background-color: white;
    height: 1px;
}