@import "../colors";

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  background: $primary-color;
  border-radius: 12px;
  .top {
    width: 100%;
    padding: 8px;
    align-items: center;
    display: flex;
    gap: 12px;
    .info {
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .thing {
        display: flex;
        align-items: center;
        gap: 4px;
      } 
      .check {
      width: 16px;
      height: 16px;
      border: 1px $text-primary solid;
      border-radius: 4px;
    }
    .check_active {
      background-color: $secondary-color;
    }
    }

    .delete{
      text-decoration: none;
      background-color: red;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      border-radius: 4px;
    }

    .update{
      text-decoration: none;
      background-color: #94c4f7;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      border-radius: 4px;
    }

   
  }
  .description {
    padding: 8px;
    width: 100%;
    vertical-align: baseline;
    text-align: left;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
